includes:
    - ../../phpstan.dist.neon

parameters:
    paths:
        - src
        - config
    excludePaths:
        - vendor/*
    ignoreErrors:
        - '#Function resource_path not found#'
        - '#Function config_path not found#'
