parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$index of method Schranz\\\\Search\\\\SEAL\\\\EngineInterface\\:\\:createIndex\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Console/IndexCreateCommand.php

		-
			message: "#^Parameter \\#1 \\$index of method Schranz\\\\Search\\\\SEAL\\\\EngineInterface\\:\\:dropIndex\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Console/IndexDropCommand.php

		-
			message: "#^Cannot call method createProgressBar\\(\\) on Symfony\\\\Component\\\\Console\\\\Style\\\\SymfonyStyle\\|null\\.$#"
			count: 1
			path: src/Console/ReindexCommand.php
