parameters:
	ignoreErrors:
		-
			message: "#^Class Spiral\\\\Console\\\\Attribute\\\\AsCommand is not an Attribute class\\.$#"
			count: 1
			path: src/Console/IndexCreateCommand.php

		-
			message: "#^Class Spiral\\\\Console\\\\Attribute\\\\Option is not an Attribute class\\.$#"
			count: 2
			path: src/Console/IndexCreateCommand.php

		-
			message: "#^Parameter \\#1 \\$index of method Schranz\\\\Search\\\\SEAL\\\\EngineInterface\\:\\:createIndex\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Console/IndexCreateCommand.php

		-
			message: "#^Class Spiral\\\\Console\\\\Attribute\\\\AsCommand is not an Attribute class\\.$#"
			count: 1
			path: src/Console/IndexDropCommand.php

		-
			message: "#^Class Spiral\\\\Console\\\\Attribute\\\\Option is not an Attribute class\\.$#"
			count: 3
			path: src/Console/IndexDropCommand.php

		-
			message: "#^Parameter \\#1 \\$index of method Schranz\\\\Search\\\\SEAL\\\\EngineInterface\\:\\:dropIndex\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Console/IndexDropCommand.php
