<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="vendor/autoload.php"
    executionOrder="depends,defects"
    failOnRisky="true"
    failOnWarning="true"
    colors="true"
    cacheDirectory=".phpunit.cache">
    <php>
        <env name="ALGOLIA_DSN" value="algolia://" />
    </php>

    <testsuites>
        <testsuite name="default">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
