<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="vendor/autoload.php"
    convertDeprecationsToExceptions="true"
    executionOrder="depends,defects"
    failOnRisky="true"
    failOnWarning="true"
    verbose="true"
    colors="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
