name: Lint

on:
    pull_request_target:
    push:
        branches:
            - '[0-9]+.[0-9]+'

jobs:
    lint:
        name: "Lint"
        runs-on: ubuntu-latest

        steps:
            - name: Checkout project
              uses: actions/checkout@v4
              with:
                  ref: "${{ github.event.pull_request.merge_commit_sha }}"

            - name: Install and configure PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.2'
                  tools: 'composer:v2'
                  ini-values: memory_limit=-1
                  coverage: none

            - name: Install composer dependencies
              uses: ramsey/composer-install@v2
              env:
                  COMPOSER_ROOT_VERSION: 0.6.x-dev
              with:
                  working-directory: ${{ inputs.directory }}
                  dependency-versions: 'highest'

            - name: Run packages lints
              run: composer lint
